<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>e-pengeluaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">e-pengeluaran</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Pengeluaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nama Pengeluaran</ion-label>
    <ion-input [(ngModel)]="nama_pengeluaran" type="text"></ion-input>
  </ion-item>

  <!-- Add more ion-items for other fields if needed -->

  <div class="form-group mt-3">
    <button class="form-control btn" (click)="Update()" style="background: linear-gradient(to bottom, #00e51f, #005d2a); color:white;">
      Update Data
    </button>
  </div>
