ion-header {
	--background: linear-gradient(to bottom, #00e51f, #6bc091);
	color: #ffffff;
  }
  
  .custom-header {
	--background: linear-gradient(to bottom, #00e51f, #7abe99);
	--ion-color-base: #fff;
	font-family: 'Agbalumo', sans-serif;
  }
  